.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.text-line {
  display: block;
  text-align: left;
}

.text-line_center {
  text-align: center;
  margin-left: 27px;
}

.text-line_right {
  text-align: right;
  margin-right: -30px;
}

.cta-button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 32px;
  cursor: pointer;
}

.page-header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 50px;
  height: 293px;
  max-width: 1100px;
  margin: 0 auto;
}

.page-header__nav {
  justify-self: start;
}

.page-header__nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.page-header__nav-item {
  list-style: disc;
}

.page-header__nav-item_no-bullet {
  list-style: none;
}

.page-header__nav-link {
  text-decoration: underline;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.page-header__nav-link_active {
  text-decoration: none;
}

.page-header__brand {
  justify-self: center;
  display: block;
  width: 148px;
  height: 105px;
}

.page-header__brand-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.page-header__contacts {
  justify-self: end;
  max-width: 240px;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
}

.page-header__contacts a {
  text-decoration: underline;
}

.hero-section {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 165px 50px 50px;
  min-height: 757px;
}

.hero-section__main-title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
  margin-bottom: 107px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.hero-section__info {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.hero-section__subtitle {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.lots-section {
  padding: 180px 25px 150px;
  min-height: 723px;
  max-width: 1100px;
  margin: 0 auto;
}

.lots-section__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 38px;
  text-align: left;
}

.lots-section__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  margin-bottom: 30px;
  justify-content: space-between;
}

.lots-section__gallery-item {
  width: 334px;
  height: 596px;
  flex-shrink: 0;
}

.lot-card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.lot-card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
}

.lot-card_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lot-card_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lot-card_art {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lot-card__heading {
  position: relative;
  z-index: 2;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
}

.lot-card__description {
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.lots-section__more-link {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  margin-left: 38px;
}

.about-section {
  display: flex;
  gap: 75px;
  padding: 0 70px 100px;
  min-height: 595px;
  max-width: 1100px;
  margin: 0 auto;
}

.about-section__side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-section__brand {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.about-section__brand-img {
  width: 148px;
  height: 114px;
  object-fit: contain;
}

.about-section__title {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 100px;
  margin-top: 100px;
  align-self: flex-start;
}

.about-section__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-section__text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.page-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 35px 50px;
  height: 180px;
  box-sizing: border-box;
}

.page-footer__contacts {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
}

.page-footer__contacts a {
  text-decoration: underline;
}

.page-footer__nav {
  justify-self: center;
  align-self: start;
}

.page-footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  list-style: none;
}

.page-footer__nav-link {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.page-footer__nav-link_active {
  text-decoration: none;
}

.page-footer__social {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
  align-self: start;
}

.page-footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.page-footer__social-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
