.overlay {
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_center {
  margin-left: 27px;
  text-align: center;
}

.aligned-text_right {
  margin-right: -30px;
  text-align: right;
}

.bet-button {
  text-transform: uppercase;
  padding: 12px 32px;
  border: 1px solid #fff;
  font-weight: 400;
  cursor: pointer;
  background: transparent;
  font-size: 22px;
  color: #fff;
  line-height: normal;
}

.address {
  line-height: 1.35;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.address a {
  text-decoration: underline;
}

.header {
  padding: 50px;
  margin: 0 auto;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  display: grid;
  max-width: 1100px;
  height: 293px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  list-style: none;
  gap: 32px;
  display: flex;
}

.header__links-list-item {
  list-style: disc;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  line-height: normal;
  text-decoration: underline;
  font-weight: 400;
  font-size: 18px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  height: 105px;
  justify-self: center;
  width: 148px;
  display: block;
}

.header__logo-image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.header__address {
  line-height: 1.35;
  max-width: 240px;
  font-weight: 400;
  justify-self: end;
  font-size: 18px;
  font-style: normal;
}

.header__address a {
  text-decoration: underline;
}

.cover {
  background-position: center;
  padding: 165px 50px 50px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
}

.cover__title {
  margin-bottom: 107px;
  letter-spacing: 30px;
  margin-left: auto;
  text-align: center;
  line-height: 1.15;
  position: relative;
  font-weight: 700;
  margin-right: auto;
  display: flex;
  z-index: 2;
  flex-direction: column;
  max-width: 1000px;
  font-size: 100px;
  text-transform: uppercase;
  gap: 20px;
  color: #fff;
}

.cover__description {
  margin-right: auto;
  align-items: center;
  position: relative;
  margin-left: auto;
  z-index: 2;
  display: flex;
  max-width: 1000px;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
}

.cover__description-text {
  word-spacing: 18px;
  line-height: 1.27;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}

.lots {
  margin: 0 auto;
  padding: 180px 25px 150px;
  max-width: 1100px;
  min-height: 723px;
}

.lots__heading {
  margin-left: 38px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 27px;
  font-size: 40px;
  text-align: left;
  line-height: normal;
}

.lots__card-list {
  justify-content: space-between;
  gap: 24px;
  list-style: none;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.lots__card-list-item {
  flex-shrink: 0;
  height: 596px;
  width: 334px;
}

.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
  color: #fff;
}

.card {
  padding: 50px 40px;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
  height: 100%;
  display: flex;
}

.card_type_film {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_picture {
  background-repeat: no-repeat;
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.card__title {
  text-decoration: underline;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}

.card__text {
  font-weight: 400;
  position: relative;
  line-height: 1.2;
  font-size: 20px;
  z-index: 2;
}

.lots__look-more-link {
  margin-left: 38px;
  text-decoration: underline;
  line-height: normal;
  font-weight: 400;
  font-size: 20px;
}

.about {
  margin: 0 auto;
  gap: 75px;
  padding: 0 70px 100px;
  display: flex;
  max-width: 1100px;
  min-height: 595px;
}

.about__column {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
}

.about__logo {
  justify-content: center;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  width: 240px;
  height: 240px;
  align-items: center;
  margin: 0;
}

.about__logo-image {
  height: 114px;
  object-fit: contain;
  width: 148px;
}

.about__title {
  margin-top: 100px;
  text-transform: uppercase;
  align-self: flex-start;
  font-weight: 700;
  margin-bottom: 100px;
  line-height: normal;
  font-size: 40px;
}

.about__text {
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.about__text p {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  box-sizing: border-box;
  padding: 35px 50px;
  justify-content: space-between;
  align-items: flex-start;
  height: 180px;
  display: flex;
}

.footer__menu {
  align-self: start;
  justify-self: center;
}

.footer__menu-list {
  gap: 2px;
  list-style: none;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.footer__menu-link {
  text-decoration: underline;
  line-height: normal;
  font-weight: 400;
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  align-self: start;
  gap: 48px;
  list-style: none;
  justify-self: end;
  display: flex;
}

.footer__social-link {
  height: 48px;
  display: block;
  width: 48px;
}

.footer__social-icon {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
